
<h1>Login</h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>

<form action="/login" method="POST">

  <div>

    <label for="email"><b>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b></b></label>

    <input type="email" id="email" name="email" required>

  </div>

  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

  
  <div>
  
    <label for="password">Password&nbsp;&nbsp;</label>
  
    <input type="password" id="password" name="password" required>
  
  </div>
  
  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  
  <div>
    <a href="/forgot-password">Forgot password</a>&nbsp;&nbsp;&nbsp;&nbsp;

    <a href="/register">Register</a>
  
  </div>

  <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

  <button type="submit">Login</button>

</form>
